@charset "utf-8";

section#main01{min-height:891px; max-height:997px;}
	section#main01 article
	{width:576px; /*outline:1px solid orange;*/
	position:absolute; 
	left:380.6px; top:111px;}
	
	section#main01>div
	{width:770px; height:852px; position:absolute; right:95.16px; top:-86px;
	/*outline:1px solid orange;*/
	box-shadow:0px 0px 15px rgba(0,0,0,0.5);}	
		section#main01>div p
		{height:83px; background-color:rgba(34,34,34,0.8);
		position:absolute;  width:100%;
		z-index:10;}
			section#main01>div p:nth-child(1)
			{top:0;}
			section#main01>div p:nth-child(2)
			{bottom:0; height:89px;}
		
/*왼쪽 영역*/
section#main01 article div
{font-family:'Anton'; font-size:160px; position:relative;
z-index:10;}
	section#main01 article div p
	{margin-bottom:-95px; position:relative;
z-index:10;}
		section#main01 article div p:nth-child(1)
		{padding-top:135px;}
		section#main01 article div p:nth-child(2)
		{color:#ff8400;}
	section#main01 article div span
	{display:block; height:9px; width:398px; background-color:#ff8400;
	margin-top:55px; margin-left:-15px;}
	section#main01 article div img
	{position:absolute; opacity:0.3; top:0; right:0; z-index:5;}
	/**/
section#main01 article>p
{padding:60px 0; color:#aaa; line-height:35px; font-size:17px;}
	/**/
	section#main01 article button:nth-child(4)
	{left:40px;}
	
/*오른쪽 영역*/
section#main01>div div
{position:absolute; width:770px; height:852px; overflow:hidden;
z-index:8;}
section#main01>div ol
{position:absolute; width:770px; height:4080px;  outline:1px solid orange;/*overflow:hidden;*/
top:-597px;} /*83px+83px*/
section#main01>div ol li
{width:770px; height:680px; position:absolute;}
	section#main01>div ol li:nth-child(1){top:0px;}
	section#main01>div ol li:nth-child(2){top:680px;}
	section#main01>div ol li:nth-child(3){top:1360px;}
	section#main01>div ol li:nth-child(4){top:2040px;}
	section#main01>div ol li:nth-child(5){top:2720px;}
	section#main01>div ol li:nth-child(6){top:3400px;}
	section#main01>div ol li:nth-child(7){top:4080px;}
	

	/*페이저*/
	section#main01>div ul
	{position:absolute; bottom:13px; left:-18px;
	/*outline:1px solid orange;*/}
	section#main01>div ul li {margin:12px 0;}
	section#main01>div ul span.circle
	{width:11px; height:12px; border-radius:50%; background-color:#666; display:block;
	cursor:pointer; }
	section#main01>div ul span.circle.circleON
	{background-color:#ff8400; border-radius:5px; height:25px;}
	