@charset "utf-8";

section#c04{height:1000px;}

section#c04 article
{width:100%; height:562px; background-color:#222; border-top:1px solid #444;
border-bottom:1px solid #444;
position:absolute; top:166px; overflow:hidden;}
		div.titleTextU
		{color:#656565;}
		div.titleTextU p span{color:#656565;}
		
		section#c04 div.leftNumber{opacity:0; top:-64px;}
		section#c04 div.titleText
		{top:-94px; opacity:0;}
		section#c04 article div.titleTextU
		{/*top:-166px;*/ top:-260px; opacity:0;}
	
section#c04 article ol
{width:1141.8px; position:absolute; left:570.9px; top:244px; opacity:0;}
	section#c04 article ol li
	{width:380.6px; float:left; opacity:0;}
		section#c04 article ol li p:nth-child(2)
		{font-family:'Anton'; color:#ff8400; font-size:13px;
		padding-top:35px; padding-bottom:11px;}
		section#c04 article ol li p:nth-child(3)
		{color:#a1a1a1; font-size:13px; line-height:25px;}
	section#c04 article ol li img
	{transition:all 0.3s;}
	section#c04 article ol li:hover img
	{transform:rotate(-20deg) scale(1.2); }