@charset "utf-8";
section#e06{height:1078px;}
	section#e06 article
	{width:100%; height:750px; border-top:1px solid #444; border-bottom:1px solid #444;
	position:absolute; top:167px; overflow:hidden; opacity:1;
	/*background-image:url('../img/e_c.jpg'); background-size:cover;*/
	}
	
	section#e06 article img
	{position:absolute; top:0px; left:0px; opacity:0;}
	
	section#e06 div.leftNumber
	{top:-100px; opacity:0;}
	section#e06 div.titleText06
	{top:-33px; opacity:0; }
	section#e06 article div.titleText
	{/*top:-167px;*/ top:-200px; opacity:0;}
	
section#e06 div.transBoxOuter
{position:absolute; left:761.2px; /*bottom:0;*/ bottom:-200px; overflow:hidden;
box-sizing:border-box; width:761.2px; height: 460px; border:1px solid #444;
opacity:0;}
	section#e06 div.transBoxOuter div.transO
	{width:100%; height:299px; background-color:rgba(34,34,34,0.8);}
	section#e06 div.transBoxOuter div.transX
	{width:100%; height:161px; background-color:#222;}
	
	section#e06 div.transBoxOuter div.transText
	{width:761.2px; height:460px; box-sizing:border-box;
	position:absolute; top:0; left:0;
	padding-left:95.15px; padding-top:70px;}
		section#e06 div.transBoxOuter div.transText span.eSmall
		{font-size:12px; letter-spacing:13px; opacity:0.6;
		}
		section#e06 div.transBoxOuter div.transText p.eTitle
		{color:#ff8400; font-size:46px;	font-family:'Anton';}
		
		section#e06 div.transBoxOuter div.transText div.textArea
		{padding-left:47.575px; padding-top:25px; opacity:0.9;}
		section#e06 div.transBoxOuter div.transText  button
		{margin-left:47.575px; margin-top:40px;}