@charset "utf-8";

footer{width:100%; height:417px; border-top:1px solid #444; background-color:#222;
overflow:hidden; position:relative; opacity:0;}

footer>img
{position:absolute; opacity:0.2; bottom:0; right:135px;}

footer article
{width:1522.4px; height:417px; position:absolute; left:380.6px;}
	footer article img
	{position:absolute; left:0; bottom:68px;}
	
	footer article ol
	{width:380.6px; position:absolute; top:100px;}
		footer article ol:nth-child(3){left:380.6px;}
		footer article ol:nth-child(4){left:761.2px;}
		footer article ol:nth-child(5){left:1141.8px;}
	footer article ol li
	{position:relative; width:380.6px;}
		footer article ol li
		{font-size:13px; margin-bottom:24px;}
		footer article ol li.ftTitle
		{color:#656565; font-family:'Anton'; font-size:17px; margin-bottom:30px;}
		
			footer article ol li a
			{color:#fff;}
				footer article ol li a span
				{display:inline-block; height:1px; width:0; background-color:#ff8400;
				margin-bottom:3px; margin-right:5px; }
			