@charset "utf-8";
*{margin:0; padding:0;}
li{list-style-type:none;} img,fieldset{border:0;}
img{vertical-align:bottom;} a{text-decoration:none;}
body
	{background-color:#222; color:#fff;
	font-family:'Roboto';
	scrollbar-highlight-color:#222; 
	scrollbar-3dlight-color:#222; 
	scrollbar-face-color:#ff8400; 
	scrollbar-shadow-color:#222; 
	scrollbar-darkshadow-color:#222; 
	scrollbar-track-color:#222; 
	scrollbar-arrow-color:#222;}
/*body::-webkit-scrollbar {display:none;} */
body::-webkit-scrollbar {width: 17px; height: 17px;  }

body::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 0px; background-color:#222;}

body::-webkit-scrollbar-track {background: #222; /*-webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)*/}

body::-webkit-scrollbar-thumb {height: 50px; width: 50px; background-color:rgba(255,132,0,0.8); -webkit-border-radius: 0px; border-radius: 15px; /*-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)*/}

/**/
::selection{background-color:#222; color:#ff8400; text-shadow:none;}
::-moz-selection{background-color:#222; color:#ff8400; text-shadow:none;}
::-webkit-selection{background-color:#222; color:#ff8400; text-shadow:none;}
/**/


div#wrapper
{width:100%; max-width:1920px; min-width:1903px; position:relative; margin:0 auto; overflow:hidden; box-shadow:0px 0px 15px rgba(0,0,0,0.5);}
	div#wrapper:after{content:""; display:block; clear:both;}

	/*1903 974*/
span.bg
{display:block; width:380.6px; height:974px; border-right:1px solid #444;
position:absolute; z-index:-1; top:0;}
	span.bg1{left:0;}
	span.bg2{left:380.6px;}
	span.bg3{left:761.2px;}
	span.bg4{left:1141.8px;}
	span.bg5{left:1522.4px;}
	
	
/**/

button
{width:141px; height:47px; /*border:1px solid #d7d7d7;*/
border:none;
background-color:rgba(34,34,34,0); position:relative; overflow:hidden;}
button a
{display:block; width:139px; height:45px; text-align:center; line-height:45px;
font-family:'Anton'; color:#ff8400; font-size:12px; position:absolute;}
	button a:nth-child(1)
	{top:0; z-index:3; border:1px solid #d7d7d7;}
	button a:nth-child(2)
	{background-color:#ff8400; color:#222; border:1px solid #ff8400;
	top:47px; z-index:5;}


	
section{width:100%; position:relative; /*outline:1px dashed orange;*/}

div.textArea
	{font-size:13px; line-height:36px;}
	
	
	